
// List helper
// ------------------------------------------------------------------------ //

.list-nostyle {
    list-style: none;
    margin: 0;
    padding: 0;
}

.list-inline > li {
    display: inline-block;
}


// Typography helper
// ------------------------------------------------------------------------ //

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-ellipsis {
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}


// Visual helper
// ------------------------------------------------------------------------ //

.clearfix:after,
.cf:after {
    display: table;
    clear: both;
    content: '';
}

.hidden {
    display: none !important;
}

.visuallyhidden,
.sr-only {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;

    &.focusable:active,
    &.focusable:focus {
        clip: auto;
        height: auto;
        margin: 0;
        overflow: visible;
        position: static;
        width: auto;
    }
}

.invisible {
    visibility: hidden;
}

.scaledown {
    transform: scale(0.9);
}


// Handle for drag helper
// ------------------------------------------------------------------------ //

.site-dragdealer {
    position: absolute;
    right: 0;
    top: 0;
    // background-color: $black20;
    height: 100vh;
    padding: $space/6;
    width: 40px;

    .dragdealer {
        position: relative;
        height: 100%;
        // width: 32px;
        z-index: 1;
        pointer-events: none;
        visibility: hidden;
    }

    .handle {
        padding: $space/5;
        background-color: $link;
        color: $black10;
        position: absolute;
        cursor: move;
        cursor: -webkit-grab;
        cursor: grab;
        pointer-events: auto;
        visibility: visible;

        &:active {
            cursor: -webkit-grabbing;
            cursor: grabbing;
        }
        &.toggle-center {
            top: 50%;
            transform: translateY(-50%) !important;
        }
    }
}
