/*! [PROJECT_NAME] | Suitmedia */

//  1. Font-face
//  2. Basic styles
//  3. Header
//  4. Page styles
//  5. Footer

@import "partial/normalize";
@import "partial/variables";
@import "partial/resets";
@import "partial/helpers";
@import "partial/print";

@import "mixin/mixin";
@import "modules/modules";
@import "plugin/plugin";

// 1 Font-face
// ------------------------------------------------------------------------ //



// 2 Basic styles
// ------------------------------------------------------------------------ //

html {
    font: 400 $base_font_size $base_font_family;
    line-height: $base_line_height;
}

body {
    color: $black90;
    overflow: hidden;
}

a {
    color: $link;
    text-decoration: none;

    &:hover,
    &:focus {
        color: $link_hover;
    }
}

.block {
    margin-bottom: $space;
}

.container {
    width: 95%;
    max-width: 960px;
    margin: 0 auto;
}

// 3 Header
// ------------------------------------------------------------------------ //


// 4 Page styles
// ------------------------------------------------------------------------ //

.site-category {
    position: relative;
    // height: 100%;

    .page-category {
        // height: 300%;

        .original {
            background-color: orange;
        }

        .commercial {
            background-color: limegreen;
        }

        .others {
            background-color: green;
        }
    }
}

/* Page Section */

.page-section {
    position: relative;
    display: table;
    table-layout: fixed;
    width: 100%;
    transition: all 0.6s ease-in-out;

    .page-section--category {
        height: 100vh;
        display: table-cell;
        vertical-align: middle;
        width: 100%;
        text-align: center;
    }
}


// 5 Footer
// ------------------------------------------------------------------------ //
